<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.poly.lmsapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="false"
            android:icon="@drawable/ic_splash"
            android:label="@string/app_name"
            android:requestLegacyExternalStorage="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.LmsApp">
        <activity android:name=".ui.file_system.FileSystemActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.list_type.ListTypeActivity"  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.group_type.GroupTypeActivity"  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.detail_class.DetailClassActivity"  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.m_class.ClassActivity"  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.subject.SubjectActivity"  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.semester.SemesterActivity"  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.change_password.ChangePasswordActivity"  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.detail_doc.detail_quiz.DetailAssignmentActivity"  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.detail_doc.DetailDocumentActivity"  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.activity.ChooseActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.department.DepartmentActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.home.HomeActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.LoginActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RegisterActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"  android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.activity.SplashActivity"
                android:theme="@style/SplashTheme"  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>